{% extends 'layout.html' %}

{% block title %}
    Contact | NEFEMA
{% endblock %}

{% block content %}

<h1>Contact me!</h1>
<form action="/contact/" method="POST" class="contact-form">{% csrf_token %}
    <p>
        Asunto: <br><input type="text" name="txtAsunto" id="input-asunto"> 
    </p>
    <p>
        Email: <br><input type="text" name="txtEmail" id="input-email">
    </p>
    <p>
        Mensaje: <br><textarea name="txtMensaje" id="textarea-contact" cols="30" rows="5" style="resize: none;"></textarea>
    </p>
    <div class="btn-contact">
        <input type="submit" value="Send Mail"/ id="btn-send">
    </div>
</form>

{% endblock %} 
