{% extends 'layout.html' %}

{% block title %}
    Generator Password | NEFEMA
{% endblock %}

{% block content %}
    <h1>Password Generator</h1>
    <form action="{% url 'agpassword:youpassword' %}">

        <label for="length">Selecciona la longitud</label>
        <select name="length" id="length">
            <option value="6">6 Characters</option>
            <option value="7">7 Characters</option>
            <option value="8">8 Characters</option>
            <option value="9">9 Characters</option>
            <option value="10">10 Characters</option>
            <option value="11">11 Characters</option>
            <option value="12">12 Characters</option>
            <option value="13">13 Characters</option>
        </select>

        <label for="uppercase">Uppercase</label>
        <input type="checkbox" name="uppercase" id="uppercase">

        <label for="special">Special Characters</label>
        <input type="checkbox" name="special" id="special">

        <label for="numbers">Numbers</label>
        <input type="checkbox" name="numbers" id="numbers">

        <br>

        <button>Generate Password</button>
    
    </form>
{% endblock %} 
