/* **************************************************
    PRINCIPAL STYLES 
************************************************* **/
:root{
    --background-color: #E2FFDB;
    --highlight-color: #D9A5CC;
    --extralight-color: #8C4F7E;
    --primary-color: #658C5D;
    --header-color: #AFDAA5;
    --body-color: #000000;
}
body{
    background-color: var(--background-color);
    font-family: 'Oswald', sans-serif;
    line-height: 1.19;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}

/* **************************************************
    HEADER CONTACT 
************************************************* **/
header{
    height: 60px;
}
.header__container{
    display: inline-flex;
    justify-content: space-between;
    background-color: var(--header-color);
    width: 100%;
    height: 50px;
}
.header-title{
    margin: auto 4vw;
    font-size: 30px;
}
.header-title a span{
    color: var(--extralight-color);
    font-weight: bold;
}
/* --- MENU STATUS --- */
.header-menu{
    display: none;
}
#menu-mobile-options{
    display: none;
}
#menu-pc-options{
    display: flex;
}
/* --- MOBILE MENU --- */
.header-menu{
    text-align: end;
}
#menu-mobile-options{
    display: none;
    background-color: var(--primary-color);
    position: absolute;
    top: 50px;
    left: 0%;
    min-width: 100vw;
    animation: showNavbar 0.7s ease 0s 1 normal none;
    animation-fill-mode: forwards;
}
.option-item{
    text-align: center;
    font-size: 20px;
    list-style: none;
    line-height: 1.7;
}
.option-item a{
    color: var(--extralight-color);
}
.option-item a:hover{
    color: var(--body-color);
} 
/* --- COMPUTER MENU --- */
.option-item-pc{
    list-style: none;
    margin: auto;
    padding: 10px 15px;
    font-size: 20px;
}
.option-item-pc a{
    color: var(--extralight-color);
}
.option-item-pc a:hover{
    color: var(--body-color);
}
/* --- HAMBURGER MENU --- */
#header_navbar{
    position: fixed;
    transition: top 1.3s;
    z-index: 100;
}
#navbar-button{
    height: 50px;
    width: 200px;
    margin: 6px;
}
#navbar-button button{
    width: 80px;
    padding: 0;
    background: none;
    cursor: pointer;
    border: 0;
}
#navbar-button button span{
    border-radius: 5px;
    background-color: var(--extralight-color);
    display: block;
    width: 50%;
    margin: 5px auto;
    height: 6px;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
/* --- HAMBURGER NAME ANIMATIONS --- */
#navbar-button button.open .top-line{
    animation-name: top-line-animation;
}
#navbar-button button.open .mid-line{
    animation-name: mid-line-animation;
}
#navbar-button button.open .bottom-line{
    animation-name: bottom-line-animation;
}
#navbar-button button .top-line{
    animation-name: top-line-animation-close;
}
#navbar-button button .mid-line{
    animation-name: mid-line-animation-close;
}
#navbar-button button .bottom-line{
    animation-name: bottom-line-animation-close;
}
/* **************************************************
    MAIN
************************************************* **/
main{
    margin: 1rem;
}
/* **************************************************
    WHY
************************************************* **/
.why{
    margin: 15px;
}
.why h2{
    line-height: 0.3;
}
.why-items{
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
}
.why-exp{
    width: 100%;
    padding: 0 15px;
}
.why-img{
    margin: auto;
    width: 140px;
    height: 140px;
    outline: 1px solid var(--extralight-color);
}
.why-img img{
    margin: auto;
    margin-bottom: -25px;
    width: 140px;
    justify-items: center;
}
.why-text{
    text-align: center;
}
.why-text p strong{
    font-size: 20px;
}







































/* **************************************************
    CONTACT
************************************************* **/
.contact-form{
    margin: 2em 0;
}
.contact-form input{
    padding: 4px;
}
.contact-form textarea{
    padding: 4px;
}
#input-asunto{
    width: 400px;
}
#input-email{
    width: 400px;
}
#textarea-contact{
    width: 400px;
}
.btn-contact input{
    margin: 0 155px;
}
.btn-send{
    border-radius: 2px;
}



/* **************************************************
    A
************************************************* **/



/* **************************************************
    HYPOTENUSE
************************************************* **/
.container-hypotenuse{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
/* .triangule-container{
} */
#triangule{
    width: 0;
    height: 0;
    border: 17vh solid var(--extralight-color);
    border-right: 17vh solid transparent;
    border-top: 17vh solid transparent;
    margin: auto;
    border-radius: 3px;
}
#catetoa{
    border-color: var(--highlight-color);
    background-color: transparent;
    width: 50px;
    border-radius: 2px;
}
#catetob{
    border-color: var(--highlight-color);
    background-color: transparent;
    width: 50px;
    border-radius: 2px;
}




.btn-container-hypotenuse{
    text-align: center;
}
.btn-hypotenuse{
  display: flexbox;
  border-color: var(--primary-color);
  color: var(--body-color);
  background-image: -webkit-linear-gradient(45deg, var(--primary-color) 50%, var(--header-color) 50%);
  background-image: linear-gradient(45deg, var(--primary-color) 50%, var(--header-color) 50%);
  background-position: 100%;
  background-size: 400%;
  -webkit-transition: background 300ms ease-in-out;
  transition: background 300ms ease-in-out;
  border-radius: 3px;
  padding: 4px 7px;
}
.btn-hypotenuse:hover {
  background-position: 0;
}





















/* **************************************************
    FOOTER
************************************************* **/
footer{
    height: 70px;
    background-color: var(--extralight-color);
    color: var(--background-color);
}
.footer-final{
    text-align: center;
    padding: 25px;
}


/* **************************************************
    ANIMATIONS 
************************************************* **/
/* --- HAMBURGER MENU HEADER --- */
@keyframes top-line-animation{
    0%, 100%{
        position: relative;
        top: 10px
    }
    50%, 100%{
        margin: 0 auto;
        transform: translateY(6px) rotate(-315deg);
    }
}
@keyframes bottom-line-animation{
    0%, 100%{
        position: relative;
        top: 10px
    }
    50%, 100%{
        margin: 0 auto;
        transform: translateY(-6px) rotate(315deg);
    }
}
@keyframes mid-line-animation{
    20%, 100%{
        margin: 0 auto;
        width: 0;
        opacity: 0;
    }
}
@keyframes top-line-animation-close{
    0%{
        margin: 0 auto;
        transform: translateY(6px) rotate(-315deg);
    }
    30%, 100%{
        margin: 5px auto;
        transform: translateY(0px) rotate(0deg);
    }
}
@keyframes bottom-line-animation-close{
    0%{
        margin: 0 auto;
        transform: translateY(-6px) rotate(315deg);
    }
    30%, 100%{
        margin: 5px auto;
        transform: translateY(0px) rotate(0deg);
    }
}
@keyframes mid-line-animation-close{
    0%{
        margin: 0 auto;
        width: 0;
        opacity: 0;
    }
    10%, 100%{
        margin: 0 auto;
        width: 60%;
        opacity: 1;
    }
}
/* --- ||| END HAMBURGER MENU ||| --- */

/* --- H --- */


/* **************************************************
    RESPONSIVE 
************************************************* **/
/* --- 1300PX --- */
@media (max-width: 1300px){

    /* --- H --- */    
}

/* --- 900PX --- */
@media (max-width: 900px){
    /* --- H --- */    
}

/* --- 800PX --- */
@media (max-width: 800px){
    /* --- H --- */    
}

/* --- 700PX --- */
@media (max-width: 700px){
    /* --- MENU STATUS --- */
    .header-menu{
        display: block;
    }
    #menu-mobile-options{
        display: none;
    }
    #menu-pc-options{
        display: none;
    }
    /* --- H --- */    
}

/* --- 500PX --- */
@media (max-width: 500px){
    /* --- TRIANGULE --- */
    .container-hypotenuse{
        display: grid;
        grid-template-columns: 1fr;
    }
    .catetos{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .btn-container-hypotenuse{
        grid-row-start: 1;
        grid-row-start: 4;

    }
    /* --- CONTACT --- */
    #input-asunto{
        width: 200px;
    }
    #input-email{
        width: 200px;
    
    }
    #textarea-contact{
        width: 200px;
    
    }
    .btn-contact input{
        margin: 0 70px;
    }
}

/* **************************************************
    END? 
************************************************* **/
.why{
    margin: 15px;
}
.why h2{
    line-height: 0.3;
}
.why-items{
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
}
.why-exp{
    width: 100%;
    padding: 0 15px;
}
.why-img{
    margin: auto;
    width: 140px;
}
.why-img img{
    margin: auto;
    margin-bottom: -25px;
    width: 140px;
    justify-items: center;
}
.why-text{
    text-align: center;
}
.why-text p strong{
    font-size: 20px;
}

@media (min-width: 1450px){
    /* --- WHY --- */
    .why-exp{
        width: 27%;
    }
}
@media (min-width: 1280px) and (max-width: 1449.9px){
    /* --- WHY --- */
    .why-exp{
        width: 27%;
    }
}
@media (min-width: 900px) and (max-width: 1279.9px){
    /* --- WHY --- */
    .why-exp{
        width: 27%;
    }

}
@media (min-width: 800px) and (max-width: 899.9px){
    /* --- WHY --- */
    .why-exp{
        width: 40%;
    }
      

}
@media (min-width:700px) and (max-width: 799.9px){    
    /* --- WHY --- */
    .why-exp{
        width: 43%;
    }    

}
@media (min-width: 500px) and (max-width: 699.9px){ 
    /* --- WHY --- */
    .why-exp{
        width: 40%;
    }
}