<!-- ----------
    INDEX    
---------- --> 
    <div class="index-container">
        <a href="/">Home</a><br>
        <a href="/hello-world">Hello World</a><br>
        <a href="/hypotenuse">Hypotenuse</a><br>
        <a href="/password">Password</a><br>
        <a href="/courses">Courses</a><br>
        <a href="/contact-form">Mail Contact</a><br>
        <a href="/api/hello-view">API Hello View</a><br>
        <a href="/api/posts">API List Posts | Blog</a><br>
        <a href="/api/posts/test1">API Post Test | Blog</a><br>
        <a href=""></a><br>
        <a href=""></a><br>

    </div>