<!-- ----------
    HEADER    
---------- --> 
    <header>
        <div class="header__container" id="header_navbar">
            <div class="header-title">
                <a href="#"><span>NEFEMA</span></a>
            </div>
            <!-- --- MENU MOBILE --- -->                    
            <div class="header-menu">
                <div id="navbar-button">
                    <!-- --- BOTTON HAMBURGER --- -->                    
                    <button class="open" onclick="showMenuMobile();">                        
                        <span class="top-line"></span>
                        <span class="mid-line"></span>
                        <span class="bottom-line"></span>
                    </button>
                    <!-- --- MENU OPTIONS --- -->                    
                    <div id="menu-mobile-options">
                        <li class="option-item"><strong><a href="">INICIO</a></strong></li>
                        <li class="option-item"><strong><a href="">PLANES</a></strong></li>
                        <li class="option-item"><strong><a href="">PLANTILLAS</a></strong></li>
                        <li class="option-item"><strong><a href="">CONTACTO</a></strong></li>
                        <li class="option-item"><strong><a href="">BLOG</a></strong></li>
                    </div> 

                </div>
            </div>
            <!-- --- MENU COMPUTER --- -->                    
            <div id="menu-pc-options">
                <li class="option-item-pc"><strong><a href="">BLOG</a></strong></li>                        
                <li class="option-item-pc"><strong><a href="">PLANES</a></strong></li>
                <li class="option-item-pc"><strong><a href="">PLANTILLAS</a></strong></li>
                <li class="option-item-pc"><strong><a href="">CONTACTO</a></strong></li>
            </div>
        </div>
    </header>